* {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 2px solid #313131;
    position: sticky;
    z-index: 1;
    width: 100%;
}

main {
    font-size: 1rem;
}

body {
    background-color: aliceblue;
}


nav ul {
    list-style-type: none;
    padding-left: none;
    margin-left: none;
    text-align: center;
}

nav li {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    display: inline-block;
    margin: 1em auto;
    width: 19%;
}

.intro-container {
    display: flex;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    max-width: 90%;
    margin: 5%;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    
}

.intro-container article {
    margin-top: 40px;
    margin-right: 100px;
    text-indent: 2em;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.portrait img {
    margin: 20px;
    width: 20em;
    height: auto;
    border: 2px solid black;
    border-radius: 50%;
}


